 body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    margin-top: 50px;
}

p {
    font-size: 20px;
    color: #333;
}

button {
    background-color: darkblue;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}